.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.App {
  padding: 2em 1em;
}
.checks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.check {
  display: flex;
  justify-content: center;
  font-size: 1.5em;
  align-items: center;
  vertical-align: top;
  width: 50px;
  height: 50px;
  margin: 0.1em;
  border: 2px solid #ccc;
  cursor: pointer;
  transition: all 0.05s;
}
.check.checked {
  color: red;
  border-color: red;
}

.sum {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
}
.sum * {
  padding: 0.5em;
  margin: 0.5em;
  font-size: 1em;
  box-sizing: border-box;
}
.sum input {
  width: 60px;
}